In [1]:
import pandas as pd

files = ['201806citibiketripdata.csv', '201807citibiketripdata.csv', '201808citibiketripdata.csv', '201809citibiketripdata.csv']

df = pd.DataFrame()
for filename in files:
    temp_df = pd.read_csv(filename)
    df = pd.concat([df, temp_df], ignore_index=True)

df.to_csv('summer_2018.csv', index=False)

In [2]:
df.head()

,month year,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,Jun-18,329,07:00.3,12:30.2,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,M
1,Jun-18,259,24:43.8,29:03.8,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,F
2,Jun-18,686,17:49.6,29:16.2,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,M
3,Jun-18,164,44:00.4,46:44.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,M
4,Jun-18,769,59:28.8,12:18.7,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,M

In [3]:
files = ['201906citibiketripdata.csv', '201907citibiketripdata.csv', '201908citibiketripdata.csv', '201909citibiketripdata.csv']

df1 = pd.DataFrame()
for filename in files:
    temp_df1 = pd.read_csv(filename)
    df1 = pd.concat([df1, temp_df1], ignore_index=True)

df1.to_csv('summer_2019.csv', index=False)

In [4]:
df1.head()

,month year,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,Jun-19,316,05:55.7,11:12.0,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,M
1,Jun-19,280,08:09.1,12:50.1,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,M
2,Jun-19,2162,13:11.9,49:14.4,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,UNK
3,Jun-19,2184,13:30.1,49:54.2,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,UNK
4,Jun-19,139,13:31.9,15:51.8,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,M

In [5]:
files = ['summer_2018.csv', 'summer_2019.csv']

df2 = pd.DataFrame()
for filename in files:
    temp_df2 = pd.read_csv(filename)
    df2 = pd.concat([df2, temp_df2], ignore_index=True)

df2.to_csv('summer_18and19.csv', index=False)

In [6]:
df2.head()

,month year,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,Jun-18,329,07:00.3,12:30.2,3183,Exchange Place,40.716247,-74.033459,3276,Marin Light Rail,40.714584,-74.042817,29513,Subscriber,1991,M
1,Jun-18,259,24:43.8,29:03.8,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26221,Subscriber,1989,F
2,Jun-18,686,17:49.6,29:16.2,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29266,Subscriber,1990,M
3,Jun-18,164,44:00.4,46:44.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,29472,Subscriber,1993,M
4,Jun-18,769,59:28.8,12:18.7,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,33679,Subscriber,1977,M